@page "/estudios"
@inject IEstudiosService servicioEstudios
@inject NavigationManager nav
@inject SweetAlertService SweetAlertService



<h3>Listar Estudios </h3>

<div class="form-group row">
    <div class="col-sm-10">
        <a href="/estudios/crear" class="btn btn-primary m-1">Agregar Nuevo</a>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Nombre Afiliado</strong></th>
                <th><strong>Profesion</strong></th>
                <th><strong>Institucion</strong></th>
                <th><strong>Titulos</strong></th>
                <th><strong></strong></th>
                <th><strong></strong></th>
            </tr>
        </thead>
        @foreach (var item in estudios)
        {
            <tr>
                <td>@item.Tipo</td>
                <td>@item.IdProfesion</td>
                <td>@item.IdInstitucion</td>
                <td>@item.TituloRecido</td>
                <td><a href="/estudios/modificar/@item.RowKey" class="btn btn-primary m-1">Modificar</a></td>
                <td>
                    <button class="btn btn-danger" @onclick="(e => Eliminar(item.PartitionKey, item.RowKey))">Eliminar</button>
                </td>
            </tr>

        }
    </table>
</div>

@code {

    [Parameter]
    public string rowkey { get; set; }
    [Parameter]
    public string partitionkey { get; set; }

    public List<Estudios> estudios { get; set; } = new List<Estudios>();
    //public bool elin { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var respuesta = await servicioEstudios.ListaEstudios();
        estudios = respuesta;
       
    }

    private async Task Eliminar(string partitionKey, string rowKey)
    {
        bool eliminado = await servicioEstudios.EliminarEstudios(partitionKey, rowKey);
        if (eliminado)
        {
            await SweetAlertService.FireAsync("Éxito", "Estudio ha sido eliminada correctamente", SweetAlertIcon.Success);
            // Actualizamos la lista de instituciones después de eliminar
            await OnInitializedAsync();
        }
        else
        {
            await SweetAlertService.FireAsync("Error", "No se pudo eliminar el estudio", SweetAlertIcon.Error);
        }
    }

    private void Editar(string rowKey)
    {
        // Redirigir a la página de edición de institución con el ID de la institución a editar
        nav.NavigateTo($"/editar-estudios/{rowKey}");
    }
}
