@page "/personas"
@inject IPersonaservice servicio

<h3>Listar Personas </h3>


<div>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Nombre</strong></th>
                <th><strong>Apellido</strong></th>
                <th><strong>FechaNacimiento</strong></th>
            </tr>
        </thead>
        @foreach (var item in Personas)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellidos</td>
                <td>@item.FechaNacimiento</td>
            </tr>

        }
    </table>
</div>

@code {
    public List<Persona> Personas { get; set; } = new List<Persona>();
    protected override async Task OnInitializedAsync()
    {
        var respuesta = await servicio.Listapersona();
        Personas = respuesta;
    }
}
