@page "/profesion"
@inject IProfesionService servicioProfesion
@inject NavigationManager nav
@inject SweetAlertService SweetAlertService



<h3>Listar Profesion</h3>

<div class="form-group row">
    <div class="col-sm-10">
        <a href="/profesion/crear" class="btn btn-primary m-1">Agregar Nuevo</a>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Profesion</strong></th>
                <th><strong>Grado</strong></th>
                <th><strong>Estado</strong></th>             
                <th><strong></strong></th>
                <th><strong></strong></th>
            </tr>
        </thead>
        @foreach (var item in profesion)
        {
            <tr>
                <td>@item.NombreProfesion</td>
                <td>@item.NombreGrado</td>
                <td>@item.Estado</td>             
                <td><a href="/profesion/modificar/@item.RowKey" class="btn btn-primary m-1">Modificar</a></td>
                <td>
                    <button class="btn btn-danger" @onclick="(e => Eliminar(item.PartitionKey, item.RowKey))">Eliminar</button>
                </td>
            </tr>

        }
    </table>
</div>

@code {

    [Parameter]
    public string rowkey { get; set; }
    [Parameter]
    public string partitionkey { get; set; }

    public List<Profesion> profesion { get; set; } = new List<Profesion>();
    //public bool elin { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var respuesta = await servicioProfesion.ListaProfesion();
        profesion = respuesta;

    }

    private async Task Eliminar(string partitionKey, string rowKey)
    {
        bool eliminado = await servicioProfesion.EliminarProfesion(partitionKey, rowKey);
        if (eliminado)
        {
            await SweetAlertService.FireAsync("Éxito", "Estudio ha sido eliminada correctamente", SweetAlertIcon.Success);
            // Actualizamos la lista de instituciones después de eliminar
            await OnInitializedAsync();
        }
        else
        {
            await SweetAlertService.FireAsync("Error", "No se pudo eliminar el estudio", SweetAlertIcon.Error);
        }
    }

    private void Editar(string rowKey)
    {
        // Redirigir a la página de edición de institución con el ID de la institución a editar
        nav.NavigateTo($"/editar-profesion/{rowKey}");
    }
}
